{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie 11"]
        }
      }
    ],
    "babel-preset-react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["transform-imports", {
      "@fortawesome/free-brands-svg-icons": {
        "transform": "@fortawesome/free-brands-svg-icons/${member}",
        "skipDefaultConversion": true
      },
      "@fortawesome/free-regular-svg-icons": {
        "transform": "@fortawesome/free-regular-svg-icons/${member}",
        "skipDefaultConversion": true
      },
      "@fortawesome/free-solid-svg-icons": {
        "transform": "@fortawesome/free-solid-svg-icons/${member}",
        "skipDefaultConversion": true
      }
    }]
  ],
  "env": {
    "i18n": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "./temp/babel-plugin-react-intl",
          "moduleSourceName": "@edx/frontend-i18n"
        }]
      ]
    }
  }
}
