.page__account-settings {
  .form-group {
    margin-bottom: 1.5rem;
  }
  h6, .h6 {
    margin-bottom: .25rem;
  }
  .btn-link {
    line-height: 1.2;
    border: none;
    padding: 0;
    display: inline-block;
  }
}
