.registration-container {
  margin: 5rem;
  line-height: 1.5;
}

.registration-header {
  border-bottom: 1px solid #e7e7e7;
  height: 3.75rem;
  position: relative;
  z-index: 1000;
}

.registration-header img {
  height: 1.75rem;
  margin-left: 2rem;
  padding: 1rem 0;
  display: block;
  position: relative;
  box-sizing: content-box;
}

.btn-social {
  padding: 0.5rem 1rem;
  color: white;
  margin-right: 1rem;
}

.facebook {
  border-color: #4267b2;
  background-color: #4267b2;
}

.google {
  border-color: #4285f4;
  background-color: #4285f4;
}

.microsoft {
  border-color: #2f2f2f;
  background-color: #2f2f2f;
}

.submit {
  display: inherit;
  margin: 0 auto;
}

.section-heading-line{
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20%;
    background-color: gray;
    height: 1px;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
    background-color: gray;
    height: 1px;
  }
}
