.registration-container {
  margin: 5rem;
}
.registration-header {
  border-bottom: 1px solid #e7e7e7;
  height: 3.75rem;
  position: relative;
  z-index: 1000;
}
.registration-header img {
  height: 1.75rem;
  margin-left: 2rem;
  padding: 1rem 0;
  display: block;
  position: relative;
  box-sizing: content-box;
}
