*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.tw-container {
  width: 100%;
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
  }
}

.btn-link {
  --tw-text-opacity: 1 !important;
  color: rgb(18 12 69 / var(--tw-text-opacity)) !important;
}

.btn-link:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
  padding-left: 1rem !important;
}

.nav-link {
  --tw-text-opacity: 1 !important;
  color: rgb(184 9 52 / var(--tw-text-opacity)) !important;
}

.nav-link:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(220 38 38 / var(--tw-text-opacity)) !important;
}

.tw-footer-link > li {
  margin-left: -2.5rem !important;
}

.tw-footer-link a {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 600 !important;
  --tw-text-opacity: 1 !important;
  color: rgb(31 41 55 / var(--tw-text-opacity)) !important;
}

.container-fluid {
  width: 100% !important;
}

@media (min-width: 640px) {
  .container-fluid {
    max-width: 640px !important;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 768px !important;
  }
}

@media (min-width: 1024px) {
  .container-fluid {
    max-width: 1024px !important;
  }
}

@media (min-width: 1280px) {
  .container-fluid {
    max-width: 1280px !important;
  }
}

@media (min-width: 1536px) {
  .container-fluid {
    max-width: 1536px !important;
  }
}

.menu button > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0 !important;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse)) !important;
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse))) !important;
}

.menu button {
  border-style: none !important;
  --tw-text-opacity: 1 !important;
  color: rgb(31 41 55 / var(--tw-text-opacity)) !important;
}

.menu button:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.tw-main-dropdown > a > div {
  display: flex !important;
  justify-content: center !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
}

.tw-main-dropdown > a > div:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.tw-main-dropdown > a {
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.tw-mobile-dropdown-right > a > div {
  cursor: pointer !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-left: 1.25rem !important;
}

.tw-mobile-dropdown-right > a > div:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.tw-mobile-dropdown-right > a {
  --tw-text-opacity: 1 !important;
  color: rgb(31 41 55 / var(--tw-text-opacity)) !important;
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.tw-absolute {
  position: absolute !important;
}

.tw-relative {
  position: relative !important;
}

.tw-inset-0 {
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
}

.tw-inset-x-0 {
  left: 0px !important;
  right: 0px !important;
}

.tw-top-12 {
  top: 3rem !important;
}

.tw-right-0 {
  right: 0px !important;
}

.tw-top-24 {
  top: 6rem !important;
}

.tw-z-50 {
  z-index: 50 !important;
}

.tw-z-20 {
  z-index: 20 !important;
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.tw-mt-8 {
  margin-top: 2rem !important;
}

.-tw-ml-10 {
  margin-left: -2.5rem !important;
}

.tw-mt-20 {
  margin-top: 5rem !important;
}

.tw-flex {
  display: flex !important;
}

.tw-hidden {
  display: none !important;
}

.tw-h-11 {
  height: 2.75rem !important;
}

.tw-h-full {
  height: 100% !important;
}

.tw-h-10 {
  height: 2.5rem !important;
}

.tw-h-12 {
  height: 3rem !important;
}

.tw-w-full {
  width: 100% !important;
}

.tw-w-44 {
  width: 11rem !important;
}

.tw-w-12 {
  width: 3rem !important;
}

.tw-cursor-pointer {
  cursor: pointer !important;
}

.tw-list-none {
  list-style-type: none !important;
}

.tw-flex-col {
  flex-direction: column !important;
}

.tw-items-center {
  align-items: center !important;
}

.tw-justify-between {
  justify-content: space-between !important;
}

.tw-gap-5 {
  gap: 1.25rem !important;
}

.tw-gap-20 {
  gap: 5rem !important;
}

.tw-gap-40 {
  gap: 10rem !important;
}

.tw-gap-2 {
  gap: 0.5rem !important;
}

.tw-gap-3 {
  gap: 0.75rem !important;
}

.tw-gap-4 {
  gap: 1rem !important;
}

.tw-overflow-hidden {
  overflow: hidden !important;
}

.tw-rounded-md {
  border-radius: 0.375rem !important;
}

.tw-rounded-full {
  border-radius: 9999px !important;
}

.tw-bg-gray-100 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity)) !important;
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.tw-object-cover {
  object-fit: cover !important;
}

.tw-py-20 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.tw-py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.tw-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.tw-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.tw-pl-5 {
  padding-left: 1.25rem !important;
}

.tw-font-nunito {
  font-family: 'Nunito Sans', sans-serif !important;
}

.tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.tw-font-semibold {
  font-weight: 600 !important;
}

.tw-text-primaryCrimson {
  --tw-text-opacity: 1 !important;
  color: rgb(184 9 52 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-800 {
  --tw-text-opacity: 1 !important;
  color: rgb(31 41 55 / var(--tw-text-opacity)) !important;
}

.tw-text-primaryNavy {
  --tw-text-opacity: 1 !important;
  color: rgb(18 12 69 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
}

.tw-no-underline {
  -webkit-text-decoration-line: none !important;
          text-decoration-line: none !important;
}

.tw-opacity-0 {
  opacity: 0 !important;
}

.tw-opacity-100 {
  opacity: 1 !important;
}

.tw-transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.tw-duration-150 {
  transition-duration: 150ms !important;
}

.tw-ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1) !important;
}

.tw-shadow-all {
  box-shadow: 0px 0px 5px 0px  !important;
}

.tw-border-course:hover {
  border-bottom: 3px #B80934 solid !important;
}

.hover\:tw-bg-gray-200:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

@media (min-width: 768px) {
  .md\:tw-block {
    display: block !important;
  }

  .md\:tw-hidden {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .lg\:tw-mt-0 {
    margin-top: 0px !important;
  }

  .lg\:tw-block {
    display: block !important;
  }

  .lg\:tw-hidden {
    display: none !important;
  }

  .lg\:tw-flex-row {
    flex-direction: row !important;
  }

  .lg\:tw-items-start {
    align-items: flex-start !important;
  }

  .lg\:tw-justify-between {
    justify-content: space-between !important;
  }
}